#container{
    width: 1080px;
    height: 700px;
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-box{
    width: 400px;
    height: 640px;
    background-color: white;
    border-radius: 30px;
}
.icon{
    font-size: 60px;
    margin-left: 160px;
    margin-top: 40px;
    color: rgb(142, 210, 232);
}
.text{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;
}
.row2{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.google{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 7px;
}
.text1{
    font-size: 20px;
    position: relative;
    left: 90px;
    bottom: 30px;
}
.row3{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
}
.apple{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 7px;
}
.text2{
    font-size: 20px;
    position: relative;
    left: 90px;
    bottom: 30px;
}
.row4{
    font-size: 20px;
    text-align: center;
}
.row5{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
}
.text3{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: gray;
}
.row6{
    width: 350px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
}
.text4{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 10px;
}
.row7{
    position: relative;
    top: 60px;
}
.text5{
    font-size: 20px;
    text-align: center;
}
.row8{
    position: relative;
    top: 70px;
    color: greenyellow;
}
.text6{
    font-size: 20px;
    text-align: center;
}