#Home{
    text-align: center;
}
#Container{
    width: 1080px;
    height: 700px;
    background-color: rgba(243, 193, 147, 0.58);
    margin: auto;
}
.first{
    display: flex;
    gap: 400px;
    
}
.iconhome{
    margin:10px 20px;
    font-size: 40px;
}
.title{
    font-size: 20px;
    margin-top: 25px;
}
.Logni{
    font-size: 20px;
    margin-top: 25px;
}
.search{
    background-color: white;
    float: left;
    width: 400px;
    height: 570px;
    margin:15px 20px;
    border-radius: 10px;
}
.iconsearch{
    font-size: 30px;
    margin: 10px 20px;
}
.search1{
    font-size: 20px;
    padding: 5px;
}
.Welcome{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}
.Welcome-list{
    
    float: right;
    width: 600px;
    height: 570px;
    margin:15px 20px;
    border-radius: 10px;
}
.row1{
    margin-top: 20px;
}


.box1{
    background-color: white;
    width: 250px;
    height: 150px;
    float: left;
    text-align: center;
    border-radius: 20px;
    
}
.fa.fa-address-book-o{
   font-size: 40px;
    margin-top: 40px;
}
.box2{
    background-color: white;
    width: 250px;
    height: 150px;
    float: right;
    text-align: center;
    border-radius: 20px;
}
.fa.fa-address-book{
    font-size: 40px;
    margin-top: 40px;
}
.row2{
    margin-top: 20px;
}
.box3{
    background-color: white;
    width: 250px;
    height: 150px;
    float: left;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}
.fa.fa-users{
    font-size: 40px;
    margin-top: 40px;
}
.box4{
    background-color: white;
    width: 250px;
    height: 150px;
    float: right;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    

}
.fa.fa-bar-chart{
    font-size: 40px;
    margin-top: 40px;
}
.row3{
    margin-top: 360px;
    text-align: center;
    display: flex;
    gap: 40px;
    
}
.box5{
    background-color: white;
    width: 600px;
    height: 165px;
    display: flex;

}
.library{
    font-size: 30px;
    margin: 20px 60px;
}
.titlelibrary{
    font-size: 15px;
    margin-left: 10px;
}
.game{
    font-size: 30px;
    margin: 20px 60px;
}
.fa.fa-gamepad{
    font-size: 30px;
    margin:25px 40px;
}
.titlegame{
    font-size: 15px;
    margin:10px 60px;
}
.lesson{
    font-size: 30px;
    margin:50px 30px;
}
.titlelesson{
    font-size: 15px;
    margin: 20px 60px;

}
.Loingpage{
    width: 1080px;
    height: 700px;
    background-color: rgba(243, 193, 147, 0.58);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.Loingform{
    background: white;
    width: 350px;
    height: 600px;
    margin: 150px 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.logo{
    font-size: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.title2{
    margin-top: 20px;
}
.row12{
    margin-top: 200px;
}

    






