#container{
    width: 1080px;
    height: 700px;
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-box{
    width: 400px;
    height: 640px;
    background-color: white;
    border-radius: 30px;
}
.row1{
    display: flex;
    justify-content: center;
}
.logouser{
    font-size: 50px;
    margin-top: 20px;
    color: cornflowerblue;
}
.row2{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 10px;
}
.text1{
    font-size: 20px;
    position: relative;
    left: 20px;
    margin-top: 10px;
    color: gray;
}
.row3{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 20px;
}
.text2{
    font-size: 20px;
    position: relative;
    left: 20px;
    margin-top: 10px;
    color: gray;
}
.row4{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 20px;
}
.text3{
    font-size: 20px;
    position: relative;
    left: 20px;
    margin-top: 10px;
    color: gray;
}
.row5{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 20px;
}
.text4{
    font-size: 20px;
    position: relative;
    left: 20px;
    margin-top: 10px;
    color: gray;
}
.row6{
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 20px;
}
.text5{
    font-size: 20px;
    position: relative;
    left: 20px;
    margin-top: 10px;
    color: gray;
}
.row7{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.row8{
    width: 350px;
    height: 50px;
    background-color:greenyellow;
    
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 40px;
}
.text7{
    font-size: 20px;
    position: relative; 
    margin-top: 40px;
    color:black;
    text-align: center;
}


